<%- include('partials/header'); %>
<div class="container-content">
  <h1>Are you a pickle?</h1>
  <div class="page">
    <% foundPickle.map(pickle => { %>
    <form method="post" action="/user/edit" class="page">
      <input type="hidden" name="id" value="<%= pickle._id %>" />
      <label for="name">Name:</label>
      <input value="<%= pickle.name %>" name="name" type="text" required />
      <label for="email">Email:</label>
      <input value="<%= pickle.email %>" name="email" type="text" required />
      <label for="phoneNumber">Phone Number:</label>
      <input
        value="<%= pickle.phoneNumber %>"
        name="phoneNumber"
        type="text"
        required
      />
      <label for="city">City:</label>
      <input value="<%= pickle.city %>" name="city" type="text" />
      <label for="skill-level">Choose a skill level:</label>
      <select name="skillLevel" id="skill-level">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
      <button type="submit" id="submit">SUBMIT</button>
    </form>
    <% }) %>
  </div>
</div>
<%- include('partials/footer'); %>
