<%- include('partials/header'); %>
<div class="container-content">
  <div class="title">
    <h1>The Pickle</h1>
    <h2>Pickleball League</h2>
    <p>Starting July 1st, 2023</p>
    <h1>Pickleball Registrar</h1>
  </div>
  <% foundPickle.map(pickle => { %>
  <div class="user-info">
    <h2><%= pickle.name %></h2>
    <div id="user">
      <p>Email:</p>
      <p><%= pickle.email %></p>
    </div>
    <div id="user">
      <p>Phone Number:</p>
      <p><%= pickle.phoneNumber %></p>
    </div>
    <div id="user">
      <p>City:</p>
      <p><%= pickle.city %></p>
    </div>
  </div>
  <div id="buttons">
    <form action="/delete" method="POST" id="form">
      <input type="hidden" name="id" value="<%= pickle._id %>" />
      <button type="submit" id="submit">Delete</button>
    </form>
    <a href="edit/<%= pickle._id %>" id="submit">Edit</a>
  </div>
  <% }) %>
</div>
<%- include('partials/footer'); %>
